{% extends 'todo\base.html' %}

{% block content %}
<h1> {{ todo.title }} </h1>


<h2>{{ error }}</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<form method="POST" action="{% url 'todo_completed' todo.id %}">
    {% csrf_token %}
    <button type="submit">Completed</button>
</form>

<form method="POST" action="{% url 'todo_delete' todo.id %}">
    {% csrf_token %}
    <button type="submit">Delete</button>
</form>

{% endblock %}